.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.ul-div {
    display: flex;
    list-style: none;

}

.ul-div>li {
    padding: 5px;
}

.body{
    background-color: #E4F1FF;
}





