<style>

</style>
<body class="body">

<nav class="navbar navbar-dark bg-dark" >
  <div class="main-div">  Itec Company
  <ul class="ul-div">
    <li [routerLink]="['/Home']">Home</li>
    <li [routerLink]="['/Student']">Student</li>
  </ul>
  </div>
  </nav>
  <img  style="text-align: center;" src="assets/img/pic2.png"  width="1600" alt="pic"> <br><br>
<br>
<h2 style="text-align: center;" class="display-4" > Welcome To Itec {{name}}</h2> <br><br>
<div style="text-align: center;" >
  <h3>______________________________________________________________________________________________________________________ </h3>
</div> <br><br> 



</body>







<router-outlet></router-outlet>
