


<div style="text-align: center;">

    <p [ngStyle]="cStyles">
        i-TEC is an authorized training organization in the Sultanate of Oman, imparting training in 
        Information Technologies course covering technology concepts, Live Project Exposure, Hands-On & On-the-Job Training.
         We focus on Skills and Talent Development, our Approach for technology Training recognizes critical IT Skills which provides
          early and mid-career professionals opportunities to excel in their Careers. 
        The Course curriculum is designed considering key and emerging technologies and is guided by Industry Experts.
      </p>

      <h3>________________________________________________________________________________________________________________________</h3>

<label style="text-align: center;" > Enter your ID Number : </label>
<input  type="number"  placeholder="ID number" [(ngModel)]="Idnumber" (input) = "update()"> <br> <br> 
<h5 style="text-align: center; font-family: Arial;" >Your ID Number is  : </h5> <label style="color: red;">  {{Idnumber}} </label> <br><br>



<img  src="assets/img/pic1.png"  alt="pic" width="1400" height="600" > <br><br>



<address>
    Email <a href="imanadamzedjali@gmail.com">Iman Alzadjali</a>.<br>
    Visit us at:<br>
    <a href="//www.itec.edu.om/">www.itec.edu.om </a> <br> 
    Box 564, Disneyland<br>
    OMAN
    </address>

    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark" href="https://www.itec.edu.om/">www.itec.edu.om</a>
        </div>
        <!-- Copyright -->
      </footer>

</div>

